{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4" style="text-transform: uppercase; font-size: 30px;">Upcoming Events</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for event in events %}
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text"><strong>Date & Time :</strong> {{ event.date }}</p>
                <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
                <a href="{% url 'event_detail' event.pk %}" class="btn btn-primary">View Details</a>
                <a href="{% url 'event_update' event.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'event_delete' event.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}